html, body {
  margin: 0;
  padding: 0;
}

#app header {
  background-image: url("../img/logo.google-keep-powerup.32.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

#app header h2 {
  color: white;
  font-family: "Product Sans";
  font-size: 24px;
  margin-left: 32px;
}
#app .customFonts.preview {
 background-color: rgb(255, 255, 141);
}